/*MENU-FIX*/
.royella_menu {
    flex-grow: 1;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 20px;
}
.royella_menu ul.sub-menu {
    display: block;
    flex-grow: 1;
    gap: 10px;
    white-space: nowrap; 
}

.royella_menu ul.sub-menu li {
    margin-right: 0;
    padding: 0px;
}
.royella_menu ul.sub-menu ul li a {
box-sizing: border-box; 
padding: 20px;
}


.royella_menu ul.sub-menu li.menu-item-object-page a {
    white-space: nowrap; 
    text-overflow: clip; 
}

.royella_menu ul.sub-menu li.menu-item-object-page a:hover {
    white-space: normal;
    overflow: visible; 
}


.donate-btn-header {
    clear: both; 

    display: block; 

    margin-top: 20px;
}
.royella_menu ul .sub-menu .sub-menu {

left: auto;
width: auto;

}
@media (min-width: 1000px) and (max-width: 1500px) {
    .trp_nav_area .col-md-3,
    .trp_nav_area .col-sm-3,
    .trp_nav_area .col-xs-4 {
        padding-right: 0;
        margin-left: -40px; 
        overflow: hidden !important;
    }

    .trp_nav_area .col-md-3,
    .trp_nav_area .col-sm-3,
    .trp_nav_area .col-xs-4 {
        padding-right: 0;
    }

    .trp_nav_area .col-md-9,
    .trp_nav_area .col-sm-9,
    .trp_nav_area .col-xs-8 {
        padding-left: 0;
        margin-left: -100px; 
        display: flex;
        align-items: center;
    }
}


@media (min-width: 1500px) {
    .trp_nav_area .col-md-3,
    .trp_nav_area .col-sm-3,
    .trp_nav_area .col-xs-4 {
        padding-right: 0;
        margin-left: -40px; 
        overflow: hidden !important;
    }
    .trp_nav_area .col-md-3,
    .trp_nav_area .col-sm-3,
    .trp_nav_area .col-xs-4 {
        padding-right: 0;
    }
    .trp_nav_area .col-md-9,
    .trp_nav_area .col-sm-9,
    .trp_nav_area .col-xs-8 {
        padding-left: 0;
        margin-left: -100px; 
        display: flex;
        align-items: center;
    }
}
@media (min-width: 1330px) and (max-width: 1330px) {
    .royella_menu {
        flex-direction: column;
        align-items: flex-start;
    }
    .donate-btn-header {
        margin-left: 0;
        margin-top: 10px;
        align-self: flex-start;
    }
} 

